<h1>{{title}}</h1>
<nav>
  <a class="button" routerLink="/" routerLinkActive="activebutton">Misión</a><br>
  <a class="button" routerLink="/vision" routerLinkActive="activebutton">Visión</a><br>
</nav>
<router-outlet></router-outlet>